/* Coverflow Theme */
@mixin transformItem($translateX, $rotateY, $scale,$zIndex,$opacitiy) {
  -webkit-transform: translateX($translateX) rotateY($rotateY) scale($scale);
  -moz-transform: translateX($translateX) rotateY($rotateY) scale($scale);
  -ms-transform: translateX($translateX) rotateY($rotateY) scale($scale);
  -o-transform: translateX($translateX) rotateY($rotateY) scale($scale);
  transform: translateX($translateX) rotateY($rotateY) scale($scale);
  -sand-transform: translateX($translateX) rotateY($rotateY) scale($scale);
  z-index: $zIndex;
  opacity: $opacitiy;
}
.coverflow {
  height: 320px;
  position: relative;
  article{
    -webkit-perspective: 100%;
    -moz-perspective: 100%;
    -ms-perspective: 100%;
    -o-perspective: 100%;
    perspective: 100%;
    position: absolute;
    top: 0px;
    right: 0;
    left: 38%;
    bottom: 0;
  }
  .ref{
    background: transparent;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background: transparent;
    width: 250px;
    height: 250px;
    position: absolute;
    padding-top: 0;
    opacity: 0;
    span{
      height: 300px;
      font-size: 17em;
      color: white;
      background-color:#ffffff;
      width: 250px;
      height: 250px;
    }
    a{
      color: rgb(42, 206, 185);
    }
    &.bespoke-active {
      opacity: 1;
      z-index: 18;
      span{
        background-color: transparent;
      }
    }
    &.bespoke-slide {
      -webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
      -moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
      -ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
      -o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
      transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
    }
    &.bespoke-before {
      @include transformItem(-480px,-5deg,0.5,6,0.0);
    }
    &.bespoke-before-4 {
      @include transformItem(-610px,5deg,0.6,7,0.4);
    }
    &.bespoke-before-3 {
      @include transformItem(-480px,5deg,0.6,7,0.4);
    }
    &.bespoke-before-2 {
      @include transformItem(-360px,5deg,0.7,9,0.5);
    }
    &.bespoke-before-1 {
      @include transformItem(-180px,5deg,0.8,9,0.6);
    }
    &.bespoke-after {
      @include transformItem(120px,-5deg,0.8,6,0.0);
    }
    &.bespoke-after-1 {
      @include transformItem(180px,-5deg,0.8,9,0.6);
    }
    &.bespoke-after-2 {
      @include transformItem(360px,-5deg,0.7,8,0.5);
    }
    &.bespoke-after-3 {
      @include transformItem(480px,-5deg,0.6,7,0.4);
    }
    &.bespoke-after-4 {
      @include transformItem(610px,-5deg,0.6,7,0.4);
    }
  }
}